<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Cl_Codigo.Text" value="Codigo"/>
		<add key="ColumnHeader3.Text" value="Quantidade"/>
		<add key="ColumnHeader2.Text" value="Produto"/>
		<add key="IconTray.Text" value="AllCars System"/>
		<add key="IconTray.Visible" value="False"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
