<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="PictureBox1.AccessibleDescription" value="(None)" />
		<add key="PictureBox1.AccessibleName" value="(None)" />
		<add key="PictureBox1.Enabled" value="True" />
		<add key="PictureBox1.Visible" value="True" />
	</appSettings>
</configuration>